{% macro displayCategoryList(category_list) %} {% for category in category_list %}
<li>{{ category.title }}</li>
{% endfor %} {%endmacro%} {% macro displayComments(comment_list) %} {% for comment in comment_list %}
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 comment-card">
  <h2> {{ comment.title}} </h2>
  <p> {{ comment.comment | truncate(30) }}</p>
</div>
{% endfor %} {% endmacro %}

<!-- displaying all the pitches -->
{% macro displayPitches(pitch_list) %} {% for pitches in pitch_list %}
<li>
  <a href="/pitch{{pitches.id}}">{{pitches.title}}</a>
</li>
{% endfor %} {% endmacro %}
